/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.mainfeed{
	/*-fx-max-height: 150px;
	-fx-max-width: 100px;
	-fx-min-height: 150px;
	-fx-min-width: 100px;*/
	-fx-pref-height: 50px;
	-fx-pref-width: 50px;
}
.bigButton{
	-fx-background-radius: 3;
	-fx-font-size: 10pt;
	-fx-min-width: 70;
	-fx-min-height: 30;
	-fx-padding: 15;
}
.miniButton{
	-fx-background-radius: 3;
	-fx-font-size: 7pt;
	-fx-min-width: 40;
	-fx-min-height: 30;
}
.valuesetters{
	-fx-pref-width: 200;
}
